/CarTrackerSite/WebSite/obj
/CarTrackerSite/WebSite/bin
/CarTrackerSite/WebSite/Web.config
/CarTrackerSite/packages
/CarTrackerSite/BusinessLogicDatabaseFirst/obj
/CarTrackerSite/BusinessLogicDatabaseFirst/bin
/CarTrackerSite/Tests/obj
/CarTrackerSite/Tests/bin
