@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>MVC Boilerplate</h1>
</div>

<p>
    It gives you a kick-start by combining <a href="http://getbootstrap.com">Twitter for Bootstrap</a>, <a href="http://ninject.org">Ninject</a>, <a href="http://automapper.org">AutoMapper</a> and <a href="http://msdn.microsoft.com/en-us/data/aa937723">Entity Framework</a> into one package.
</p>